@import '../partials/variables';

.buttonOne{
    color: white;
    background-color: $MainColor;
    padding: 0.2rem 2rem;
    font-family: "Lilita One", cursive;
    font-weight: 400;
    border: none;
    border-radius: 0.5rem;
    &:hover{
        background-color: $colorButtonBlue;
    }
}

.buttonTwo{
    color: $MainColor;
    background-color: $colorButtonLight;
    padding: 0.6rem 2rem;
    font-family: "Lilita One", cursive;
    font-weight: 400;
    border: none;
    border-radius: 0.5rem;
    &:hover{
        background-color: $colorButtonBlue;
        color: white;
    }
}

.ringShape{
    background-color: transparent;
    padding: 2rem;
    border-radius: 50%;
    border: 1rem solid $ringColor;
}

.dot{
    cursor: pointer;
    height: 0.5rem;
    width: 0.5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    &:hover{
        background-color: black;
        scale: 120%;
    }
}

.dotSelected{
    background-color: black;
    scale: 120%;
}

.active{
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
