@import '../partials/variables';

h1,
h2,
h5{
    font-family: "Metropolis", sans-serif;
    font-weight: 700;
}

.mailSectionFont{
    font-family: "Gupter", serif; 
}

footer{
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

.handWriting{
    font-family: "Oooh Baby", cursive;
    color: $colorHandWriting;
}

.sideWriting{
    font-family: "Londrina Shadow", cursive;
    color: $circleColor;
}

.mailColor{
    font-family: "Metropolis", sans-serif;
    font-weight: 700;
    color: $MainColor;
    cursor: pointer;
}