// header color
$colorHeaderUp:#f6f5f5;
$colorHeaderDown:#ffffff;
$fontColorBrands: #696a6a;

// Jumbotron main color
$bgSectionOneMain:#fbf9f6;
$shapeColorSectionOne:#b2e0f6;

// section4 main color
$circleColor:#eec5ac;

// section5 main color and wave
$bgSectionFiveMain:#faf8f6;

// section6 main color
$shapeColorSectionSix: #ebf8fd;

// section7 main color 
$bgSectionSevenMain:#f5f7fa;

// section mail main color 
$bgSectionMailMain:#244186;

// font color
$colorHandWriting: #6cc5f1;

// button color
$MainColor: #ef6e31;
$colorButtonLight:#fef0ea;
$colorButtonBlue: #6ac5f1;